<div class="thing">
<div class="card-columns">

<% @collections.each do |t| %>
<div class="card text-center">
 <% if t.image %>
        <%= cl_image_tag t.image, {:class=>"card-img-top"}%>
    <% end %>
    <div class="card-deck">

<div class="col"><h5 style="padding: 10px;"> <%= link_to(t.name, collection_path(t)) %></h5>

</div>
</div>
</div>
 <% end %>
</div>
</div>
</div>
