<div class="container">
<div class="collection-show">
<h3 style="padding-top: 15px; padding-left: 15px;
">
<%= @collection.name %>
</h3>

<hr>
<br><br>
<p>Choose the word that you want to learn</p>
<% @collection.words.each do |f| %>
<h5>
<div class="card" style="padding: 10px;">
<%= link_to "#{f.term} - #{f.english_form}", f %></h5>
<% end %>
<br><br><br>
<hr>
<button class="btn btn-outline-danger"><%= link_to 'Add a Word', new_word_path %></button> <br><br>

<% if user_signed_in? && @collection.user_id == current_user.id %>
                          <button class="btn btn-outline-danger"><%= link_to 'Delete the Collection', collection_path,
                          method: :delete,
                       data: { confirm: 'Are you sure?' } %></button>
                      <%end %>

</div>
</div>
</div>
</div>