<div class="container">

<p>Welcome
<% if user_signed_in? %>
  <%= current_user.name %>
  <% end %>
  ,</p>
<a><%= link_to 'Add a Collection', new_collection_path %></a><br>
<a><%= link_to 'Add a Word', new_word_path %></a>
  </div>