<div class="haya">
<div class="shadow-lg p-3 mb-5 rounded">
<h3 class="title">Learn Arabic</h3>
<p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat voluptas deleniti unde! Obcaecati optio, quisquam iure nam nemo sapiente suscipit rerum temporibus, doloremque adipisci expedita beatae aperiam sit, distinctio voluptas?</p>

<div class="buttons">
<button type="button" class="btn btn-outline-danger"><%= link_to 'Sign Up', new_user_registration_path %></button>
<button type="button" class="btn btn-outline-danger"><%= link_to 'Log In', new_user_session_path %></button>
</div>
</div>
<div class="container" style="padding: 20px;">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima commodi non voluptatibus nulla eos ut veniam voluptate tenetur, doloremque accusamus placeat illo aspernatur enim dolores perspiciatis atque debitis, omnis aliquid!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima commodi non voluptatibus nulla eos ut veniam voluptate tenetur, doloremque accusamus placeat illo aspernatur enim dolores perspiciatis atque debitis, omnis aliquid!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima commodi non voluptatibus nulla eos ut veniam voluptate tenetur, doloremque accusamus placeat illo aspernatur enim dolores perspiciatis atque debitis, omnis aliquid!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima commodi non voluptatibus nulla eos ut veniam voluptate tenetur, doloremque accusamus placeat illo aspernatur enim dolores perspiciatis atque debitis, omnis aliquid!</p>

</div>
</div>
