<div class="haya">
<div class="shadow-lg p-3 mb-5 rounded">
<h3 class="title">Learn Arabic</h3>
<p class="paragraph">Learn Arabic with this application. You can particpate in adding new words and learn from others' words</p>


<div class="buttons">
<button type="button" class="btn btn-outline-danger"><%= link_to 'Sign Up', new_user_registration_path %></button>
<button type="button" class="btn btn-outline-danger"><%= link_to 'Log In', new_user_session_path %></button>
</div>
</div>
<div class="container" style="padding: 20px;">

</div>
</div>
